@model List<ExpensesHistory>

<div class="row py-2">
    <span class="col-8"></span>
    <span class="col-4" style="text-align: end; color: black; font: bold"><a asp-controller="Home" asp-action="Index" style="text-decoration: none;"><i class="bi bi-arrow-left" style="padding-right: 2px;"></i><span style="font-weight:bolder;">Back</span></a></span>
</div>
<div class="table-responsive">
    <table class="table table-hover mt-1" style="overflow-x: auto">
        <thead>
            <tr class="table-dark">
                <th scope="col">SI.NO</th>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Money</th>
                <th scope="col">Location</th>
                <th scope="col">

                </th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <input asp-for="@item.ExpId" hidden />
                <tr class="table-primary">
                    <th scope="row">@item.Id</th>
                    <th>@item.Date</th>
                    <th>@item.Category</th>
                    <th>@item.Name</th>
                    <th>@item.Money</th>
                    <th>@item.Location</th>
                    <th>
                        <a asp-controller="History" asp-action="Edit" asp-route-id="@item.ExpId"><i class="bi bi-pencil-square"></i></a>
                    </th>
                    <th>
                        <a asp-controller="History" asp-action="Delete" asp-route-id="@item.ExpId"><i class="bi bi-trash"></i></a>
                    </th>
                </tr>
            }           
        </tbody>
    </table>
</div>